#clock {
    width: 600px;
    height: 600px;
    border-radius: 50%;
    border: 1px solid black;
    position: relative;
    text-align: center;
    margin: auto;
}

.number {
    font-size: 50px;
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
}

.number1 {
    transform: rotate(30deg);
}
.number2 {
    transform: rotate(60deg);
}
.number3 {
    transform: rotate(90deg);
}
.number4 {
    transform: rotate(120deg);
}
.number5 {
    transform: rotate(150deg);
}
.number6 {
    transform: rotate(180deg);
}
.number7 {
    transform: rotate(210deg);
}
.number8 {
    transform: rotate(240deg);
}
.number9 {
    transform: rotate(270deg);
}
.number10 {
    transform: rotate(300deg);
}
.number11 {
    transform: rotate(330deg);
}

.arrow {
    background-color: grey;
    position: absolute;
    bottom: 300px;
    left: 50%;
    transform-origin: bottom;
}

.second-arrow {
    width: 4px;
    height: 230px;
    margin-left: -2px;
    background-color: rgba(255, 0, 0);
}

.hour-arrow {
    width: 12px;
    height: 180px;
    background-color: rgb(36, 36, 36);
    margin-left: -6px;
}

.minute-arrow {
    width: 12px;
    height: 210px;
    background-color: rgba(0, 0, 0);
    margin-left: -6px;
}

.circle {
    width: 30px;
    height: 30px;
    background-color: black;
    position: absolute;
    left: 50%;
    margin-left: -15px;
    top: 50%;
    margin-top: -15px;
    border-radius: 50%;
}